/* Fonts Import from fonts.css */
@import url(./custom/fonts.css);

/* Variables Import from Variables.css */
@import url(./custom/variables.css);

/* Button style Import from global.css */
@import url(./custom/button.css);

body {
  font-family: var(--pop-font);
}

/* Header Section */
#header_section {
  background-color: #f0fff0;
}

/* Header Nav Section */

#header_section #nav_section .container .navbar .navbar-nav .nav-link {
  font: normal 500 16px/2px var(--rob-font);
  text-transform: uppercase;
  padding: 1.1rem;
  color: #000;
}

#header_section #nav_section .container .navbar .navbar-nav .active {
  background: var(--btn-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#header_section #nav_section .container .navbar .navbar-nav a:hover {
  background: var(--btn-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Header Description Section */
#header_section #header_description {
  padding: 2rem 0;
}
#header_section #header_description .ready-to-learn-text {
  color: var(--orange-text);
}

#header_section #header_description h1 {
  color: #000;
  font: normal 700 48px/70px var(--pop-font);
}

#header_section #header_description h1 .green-text {
  color: #21b573;
  font-size: 55px;
  font-family: cursive;
}

#header_section #header_description .schedule-bottom-text {
  font: normal 500 16px/36px var(--pop-font);
  color: #6c6b6b;
}

/* Main Section */
#main_section {
  margin: 5rem 0;
}

/* Topic Section */

#main_section .topic-section .container .row h4 {
  color: #413960;
  font-weight: 600;
  font-size: 24px;
}
#main_section .topic-section .container .row p {
  color: #585859;
}

#main_section .topic-section .container .row img {
  margin-bottom: 40px;
}

#main_section .topic-section .container .row .icon-mb {
  margin-bottom: 25px;
}

.box-shadow-topic {
  -webkit-box-shadow: 0px 12px 9px -1px rgba(214, 210, 214, 1);
  -moz-box-shadow: 0px 12px 9px -1px rgba(214, 210, 214, 1);
  box-shadow: 0px 12px 9px -1px rgba(214, 210, 214, 1);
  border-radius: 10px;
}

/* Online course section */

#main_section .online_course_section .container .card-title {
  color: #413960;
  font-size: 24px;
  font-weight: 500;
}

#main_section .online_course_section .container .card-text {
  color: #585859;
  height: 2rem;
}

#main_section .online_course_section .container .card-footer {
  border: none;
}

#main_section .online_course_section .container .ocs-title {
  color: #413960;
  font: normal 600 36px/2px var(--pop-font);
  margin: 10rem auto;
}

#main_section .online_course_section .container .card {
  border: none;
  -webkit-box-shadow: 0px 6px 9px 0px rgba(153, 147, 153, 1);
  -moz-box-shadow: 0px 6px 9px 0px rgba(153, 147, 153, 1);
  box-shadow: 0px 6px 9px 0px rgba(153, 147, 153, 1);
  border-radius: 5px;
  transition: transform 0.6s ease;
  border-radius: 13px 13px 3px 3px;
}

#main_section .online_course_section .container .card:hover {
  transform: scale(1.1);
}

/* Testomonial Section */

.testimonial_section {
  margin: 10rem auto;
}

.testimonial_section .container h3 {
  font-weight: bold;
  font-size: 36px;
}

/* Footer Section */
.footer_section {
  background-color: #282531;
  color: #ffffff;
  padding: 3rem 0 1rem 0;
}

ul li {
  list-style: none;
  padding: 0 1rem;
  line-height: 2rem;
}

ul li a {
  color: #f5f5f5;
}

ul li a:hover {
  text-decoration: none;
  color: #21b573;
}

.bold-text {
  font-weight: 700;
  /* font-size: 16px; */
}

.footer-text {
  padding-top: 2rem;
  margin-bottom: 16px;
  color: #cdcdcd;
}
